fix workaround for date-time returned empty

There are cases where the riqu server returns ``created`` or ``ended`` as empty characters.
Currently, empty characters are converted to ``None`` in quri-parts-riqu.
Since OpenAPI date-time (specified in RFC 3339, section 5.6) does not allow empty strings, it needs to be corrected to the correct specification in time with the riqu server.

The following code in quri-parts-riqu should be removed:
https://github.com/qiqb-osaka/quri-parts-riqu/blob/main/quri_parts/riqu/backend/rest/api_client.py#L584-L586